.group{

    display:flex;

    flex-direction:column;

    gap:8px;

    width:100%;

}

.label{

    font-size:14px;

    font-weight:600;

    color:#374151;

}

.input{

    height:46px;

    padding:0 14px;

    border:1px solid #D1D5DB;

    border-radius:8px;

    outline:none;

    font-size:15px;

    transition:.2s;

    background:white;

}

.input:focus{

    border-color:#2563EB;

    box-shadow:0 0 0 3px rgba(37,99,235,.15);

}

.input::placeholder{

    color:#9CA3AF;

}